## Your Modpack Name
MODPACK_NAME=MyAwesomeModpack

## A short description of your modpack and what your users can expect from it
MODPACK_DESCRIPTION="A collection of mods that enhance gameplay and add new features."

## The modpack release version
## This will tag the release on GitHub automatically. It is recommended to follow semantic versioning.
## Keeping the value the same will have github replace the existing release.
## If using PackwizBuilder, it will try to increase this automatically and thus should not be changed manually.
MODPACK_VERSION=0.0.0